/node_modules
/components
/app/models/model.js
/app/models/editor.js
/app/models/worker.js
/svg.min.css
/app/services/editor.js

/vendor/
/composer.phar
/style.min.css
/projects
/app/modules/editor/styles/editor.css
/app/modules/compiler/parser.generated.js
/docs
