body, svg {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

html, body {
  height: 100%;
}

.navbar {
  margin: 0;
  border-bottom: 2px solid black;
  background-color: #CCCCFF;
}

.main-view-left {
  width: 16.6667%;
  float: left;
  border-right: 1px solid black;
  height: 100%;
  overflow: auto;
}

.main-view-right {
  width: 83.3333%;
  float: left;
}

.properties {
  background-color: white;
  width: 100%;
  font-size: 10px;
}

.properties-header {
  font-weight: bold;
  font-size: 14px;
  background-color: #DDDDFF;
}

.properties-category {
  background-color: #EEEEFF;
  font-weight: bold;
  font-size: 12px;
}

.properties td {
  border-bottom: 1px solid black;
  padding: 0.5em;
}