.grid {
  fill: #AAAAFF;
  stroke: white;
}

.connection {
  stroke: black;
  stroke-width: 1;
  fill: none;
  cursor: pointer;
}

.connection-tip-activate,
.connection-tip-inhibit {
  stroke: black;
  stroke-width: 2px;
  fill: none;
}

.anchor {
  stroke: none;
  fill: rgba(255,255,255,0.01);
  cursor: pointer;
}

.anchor.active  {
  fill: rgba(255,255,255,0.5);
}
.anchor.selected  {  
  stroke: rgba(255,0,0,0.5);
  fill: rgba(255,192,192,0.5);
}

.neuron {
  fill: white;
  stroke: black;
  cursor: pointer;
}

.active .neuron {
  stroke: blue;
  fill: #DDDDFF;
}

.selected .neuron {
  stroke: red;
  fill: #FFDDDD;
}

.label {
  font-size: 10px;
  fill: black;
  stroke: none;
  font-weight: normal;
}

.active .label {
  fill: blue;
}

.selected .label {
  fill: red;
}
