.selection-rectangle {
  fill: rgba(255, 0, 0, 0.2);
  stroke: rgba(255, 0, 0, 0.5);
}
.grid-pattern {
  fill: #aaaaff;
  stroke: #ffffff;
}
.convex-hull {
  fill: rgba(0, 0, 255, 0.2);
  stroke: rgba(0, 0, 255, 0.5);
  stroke-width: 1px;
  cursor: pointer;
}
.convex-hull.selected {
  fill: rgba(255, 0, 0, 0.2);
  stroke: rgba(255, 0, 0, 0.5);
}
.origin {
  stroke: rgba(0, 0, 0, 0.5);
  fill: rgba(255, 255, 255, 0.5);
  stroke-width: 1px;
}
.neuron {
  cursor: pointer;
  stroke: #000000;
  stroke-width: 1px;
}
.neuron .neuron-activate {
  fill: #ffffff;
}
.neuron .neuron-inhibit {
  fill: #808080;
}
.neuron .neuron-associate .outer {
  fill: #808080;
}
.neuron .neuron-associate .inner {
  fill: #ffffff;
}
.neuron .neuron-disassociate .outer {
  fill: #ffffff;
}
.neuron .neuron-disassociate .inner {
  fill: #808080;
}
.selected .neuron {
  stroke: #ff0000;
}
.connection {
  stroke: black;
  stroke-width: 1;
  fill: none;
  cursor: pointer;
}
.connection .selected {
  stroke: red;
}
.connection-tip-activate,
.connection-tip-inhibit {
  stroke: black;
  fill: none;
}
.connection-tip-associate {
  stroke: black;
  fill: white;
}
.connection-tip-disassociate {
  stroke: black;
  fill: black;
}
.anchor {
  cursor: pointer;
  stroke-width: 1px;
  stroke: rgba(0, 0, 255, 0.5);
  fill: rgba(0, 0, 255, 0.1);
}
.anchor .selected {
  stroke: rgba(255, 0, 0, 0.5);
  fill: rgba(255, 0, 0, 0.1);
}
