.property-grid {
  border: 1px solid black;
  width: 300px;
}

.property-grid-category {
  cursor: pointer;  
  font-size: 14px;
  font-weight: bold;
  td {
    padding: 0.1em 0.1em;
    background-color: #CCCCCC;
  }
}

.property-grid-item {
  border-top: 1px solid #CCCCCC;
  font-size: 12px;
}

.property-name {
  background-color: #EEEEEE;
  border-right: 1px solid #CCCCCC;
  width: 50%;
}

.property-value {
  background-color: white;
  color: black;
  width: 50%;
  
  input {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border:none;
  }
}  

.property-value-read-only {
  color: gray;
}

.property-value-error {
  background-color: #FFDDDD;
}

.selected { 
  .property-name {
    background-color: #DDDDEE;
  }
  .property-value {
    background-color: #EEEEFF;
  } 
}