<table class="property-grid" align="left">
  <!--tbody>
    <tr class="property-grid-header">
      <td colspan="2">
        Properties
      </td>
    </tr>
  </tbody-->
  
  <tbody ng-repeat-start="category in categories track by $index">
    <tr class="property-grid-category">
      <td colspan="2" ng-click="toggleCategory(category)">
        <span 
          ng-class="{ glyphicon: true, 'glyphicon-plus': !isCategoryExpanded[category], 'glyphicon-minus': isCategoryExpanded[category] }">
        </span>
        {{category}}
      </td>
    </tr>
  </tbody>
  <tbody ng-repeat-end="" class="property-grid-category-body" ng-hide="!isCategoryExpanded[category]">
    <tr 
      ng-repeat="property in propertiesByCategory[category] | orderBy: 'name'"
      ng-click="select(category, property.name)"
      ng-class="{ 'property-grid-item': true, selected: category === selection.category &amp;&amp; property.name === selection.name }" 
    >
      <td class="property-name" ng-attr-title="{{ property.description }}">
        {{property.name}}
      </td>
      <td class="property-value">
        <bp-property-value 
          object="data"
          property="property"
          selected="category === selection.category &amp;&amp; property.name === selection.name">  
        </bp-property-value>
      </td>
    </tr>
  </tbody>
</table>