<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand brand" href="#">Blueprint</a>
    </div>

    <div class="collapse navbar-collapse">
      <button type="button" class="btn btn-save navbar-btn" ng-click="save()" ng-disabled="{{saving}}">
        <span class=" glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
        Save
      </button>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="toolbar">
  <button type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
  </button>
  <span>
    <input type="checkbox" ng-model="editor.snapToGrid"/>
    Snap to grid
  </span>
</div>
<div class="main-view-left">
  <bp-properties map="data" selection="editor.selection">
  </bp-properties>
</div>
<div class="main-view-right">
  <bp-canvas map="data" mode="editor.mode" selection="editor.selection" snap="editor.snapToGrid">
  </bp-canvas>
</div>  