<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand brand" href="#">Blueprint</a>
    </div>

    <div class="collapse navbar-collapse">
      <button type="button" class="btn btn-primary navbar-btn" ng-click="save()">
        <span class=" glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
        Save
      </button>
      <button type="button" class="btn btn-success navbar-btn">        
        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
        Run
      </button>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<bp-canvas map="data" mode="mode">
</bp-canvas>