<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand brand" href="#">Blueprint</a>
    </div>

    <div class="collapse navbar-collapse">
      <button type="button" class="btn btn-primary navbar-btn" ng-click="save()">
        <span class=" glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
        Save
      </button>
      <button type="button" class="btn btn-success navbar-btn">        
        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
        Run
      </button>
      <span>
        <input type="checkbox" ng-model="snapToGrid"/>
        Snap to grid
      </span>      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="main-view-left">
  <bp-properties map="data" selection="selection">
  </bp-properties>
</div>
<div class="main-view-right">
  <bp-canvas map="data" mode="mode" selection="selection" snap="snapToGrid">
  </bp-canvas>
</div>  