<!DOCTYPE html>
<html ng-app="blueprint">
<head>
  <title>Blueprint</title>
  <script type="text/javascript" src="components/angular/angular.min.js"></script>
  <script type="text/javascript" src="components/angular-route/angular-route.min.js"></script>
  
  <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css">  
  <script type="text/javascript" src="components/jquery/dist/jquery.min.js"></script> 
  <script type="text/javascript" src="components/bootstrap/dist/js/bootstrap.min.js"></script> 
 
  <script type="text/javascript" src="app/app.js"></script>
  <script type="text/javascript" src="app/directives/bp-canvas.js"></script>
  <script type="text/javascript" src="app/services/bg-data.js"></script>
  <script type="text/javascript" src="app/controllers/bp-main-controller.js"></script>
  
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="svg.css">
</head>
<body ng-view></body>
</html>