<!DOCTYPE html>
<html ng-app="blueprint">
<head>
  <title>Blueprint</title>
  <script type="text/javascript" src="components/angular/angular.min.js"></script>
  <script type="text/javascript" src="components/angular-route/angular-route.min.js"></script>
  
  <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css">  
  <script type="text/javascript" src="components/jquery/dist/jquery.min.js"></script> 
  <script type="text/javascript" src="components/bootstrap/dist/js/bootstrap.min.js"></script>  
  <script type="text/javascript" src="components/mousetrap/mousetrap.min.js"></script>  
  <script type="text/javascript" src="components/underscore/underscore-min.js"></script>  
  <script type="text/javascript" src="components/backbone/backbone.js"></script>  
  
  <script type="text/javascript" src="app/app.js"></script>
  
  <script type="text/javascript" src="app/services/editor.js"></script>  
  <script type="text/javascript" src="app/services/property-grid.js"></script>  
  <script type="text/javascript" src="app/services/bp-module-repository.js"></script>
  
  <script type="text/javascript" src="app/services/RecursionHelper.js"></script>
  <script type="text/javascript" src="app/services/bp-svg.js"></script>
  <script type="text/javascript" src="app/services/bp-editor-data.js"></script>
  <script type="text/javascript" src="app/services/bp-net.js"></script>
  <script type="text/javascript" src="app/filters/pathify.js"></script>
  <script type="text/javascript" src="app/filters/coordinate.js"></script>
  <script type="text/javascript" src="app/filters/coordinateAdd.js"></script>
  <script type="text/javascript" src="app/directives/layout/bp-layout.js"></script>
  <script type="text/javascript" src="app/directives/layout/bp-panel.js"></script>
  <script type="text/javascript" src="app/directives/layout/bp-splitter.js"></script>
  <script type="text/javascript" src="app/directives/editor/bp-editor.js"></script>
  <script type="text/javascript" src="app/directives/editor/bp-draggable.js"></script>
  <script type="text/javascript" src="app/directives/editor/bp-selectable.js"></script>
  <script type="text/javascript" src="app/directives/editor/bp-connectable-node.js"></script>
  <script type="text/javascript" src="app/directives/editor/bp-neuron.js"></script>
  <script type="text/javascript" src="app/directives/editor/bp-module-instance.js"></script>
  <script type="text/javascript" src="app/directives/editor/bp-connector.js"></script>
  <script type="text/javascript" src="app/directives/editor/bp-anchor.js"></script>
  <script type="text/javascript" src="app/directives/editor/bp-connection.js"></script>
  <script type="text/javascript" src="app/directives/property-grid/bp-properties.js"></script>    
  <script type="text/javascript" src="app/controllers/bp-main-controller.js"></script>
  <script type="text/javascript" src="app/controllers/bp-layout-controller.js"></script>
  <script type="text/javascript" src="app/controllers/bp-property-grid-controller.js"></script>
  
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="svg.css">
</head>
<body ng-view></body>
</html>