<?xml version="1.0" encoding="utf-8" ?>
<!-- module with parameters and their types -->
<module name="IfThenElse" size="INTEGER" threshold="FLOAT">
	<!-- neurons with access to module parameter -->
	<neuron name="condition" threshold="{{threshold}}" maximum="1" factor="10" />
	<!-- groups -->
	<group name="group">
		<neuron name="then" threshold="1" maximum="1" factor="10" />
		<neuron name="else" threshold="1" maximum="1" factor="10" />
	</group>
	<!-- connections -->
	<connection id="xyz" source="condition" destination="then" type="ACTIVATE" weight="1"/>
	<!-- connection group -->
	<connections id="connis" source="condition" destination="group" type="INHIBIT" weight="1"/>
	<!-- foreach-group, no ids within allowed! -->
	<neuron id="groupName" repeat="index in [1..size]" threshold="{{index/size+1}}" />
	<!-- instance -->
	<instance module="WhileTrue" id="while" threshold="{{threshold/2}}" />
	<!-- alias -->
	<reference id="condition2" path="while.condition"/>
	<!-- es ist schwierig Strukturen zu verbinden! -->
	<instance repeat="index in [1..size]" module="quad"/>
</module>