<div style="width: 100%; height: 100%; overflow: hidden">
  <bp-layout width="*" height="*" split="vertical">
    <bp-panel size="50px">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand brand" href="#">Blueprint</a>
          </div>

          <div class="collapse navbar-collapse">
            <button type="button" class="btn btn-save navbar-btn" ng-click="save()" ng-disabled="{{saving}}">
              <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
              Save
            </button>
          </div>
        </div>
      </nav>      
    </bp-panel>
    <bp-panel size="50px">
      <div class="toolbar">
        <button 
          type="button"     
          ng-repeat="data in modes track by $index"
          ng-class="{btn: true, 'btn-default': true, active: tools.mode === data.name}" 
          ng-click="tools.mode = data.name"
          ng-attr-title="{{data.description}}">
          <span ng-attr-class="{{ 'glyphicon '+data.iconClass }}" aria-hidden="true"></span> {{data.label}}
        </button>
        <span>
          <input type="checkbox" ng-model="tools.snapToGrid"/>
          Snap to grid
        </span>
      </div>      
    </bp-panel>
    <bp-panel size="*">
      <bp-layout width="*" height="*" split="horizontal">
        <bp-panel size="300">
          <bp-property-grid 
            context="data" 
            object="selectedObject" 
            properties="properties">
          </bp-property-grid>        
        </bp-panel>
        <bp-panel size="*" on-resize="canvasResized($width, $height)" ng-if="ready">
          <bp-editor 
            module="data" 
            mode="tools.mode" 
            selection="tools.selection" 
            snapping="tools.snapToGrid"
            editor-width="width" 
            editor-height="height">
          </bp-editor>
        </bp-panel>
      </bp-layout>
    </bp-panel>
  </bp-layout>
</div>